@import 'variables';

///////////////////////////////////////////////////////////
// Global styles
// Force the scrollbar to always be visible to prevent layout shift
html {
  overflow-y: scroll;
}

// Hide the scrollbar so it isn't ugly
html::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  font-family: $font-family;
  background-color: $background-colour;
  color: $font-colour;
}
/// Remove default margin
p,
ul,
li,
[class^="h"],
[id^="h"] {
  margin: 0;
}

h1 {
  color: $title-colour;
  font-size: 3rem;
}

p, li {
  margin: 0.25rem 0;
  font-size: 1.1rem;
}

ul {
  margin-bottom: 1rem;;
}

// Media query for mobile devices
.desktop-only {
  @media screen and (max-width: 1079px) {
    display: none;
  }
}
// Media query for desktop devices
.mobile-only {
  @media screen and (min-width: 1080px) {
    display: none;
  }
}

///////////////////////////////////////////////////////////
/// Timeline styles
/* src/components/AboutMeTimeline.css */
.timeline {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 0;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 40px;
  bottom: 50px;
  left: 50px;
  width: 2px;
  background: #757575;
}

.timeline-item {
  display: flex;
  gap: 1rem;
  margin: 20px 0;
  position: relative;
}


.timeline-item::after {
  content: '';
  position: absolute;
  left: 46px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #757575;
}

.timeline-date {
  font-size: 18px;
  color: #757575;
  flex-shrink: 0;
}

.timeline-content {
  border-radius: 8px;
  padding: 10px 20px;
  position: relative;
}

.timeline-content h3 {
  margin-top: 0;
  font-size: 24px;
}

.timeline-content p {
  margin: 10px 0 0;
  font-size: 16px;
}


///////////////////////////////////////////////////////////
/// Social media icons
.social-media-icons {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 2rem;
  margin-left: 1vw;
  margin-top: 2rem;
  & svg {
    width: 2rem;
    height: 2rem;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
  }
}

///////////////////////////////////////////////////////////
/// Scroll Indicator styles
.scroll-indicator {
  width: 2rem;
  height: 2rem;
  filter: $svg-glow-effect;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.scroll-indicator-container {
  display: none;
  position: fixed;
  align-items: center;
  fill: $highlight-colour;
  position: fixed;
  z-index: 100;
  border: 1px solid $card-border-colour;
  box-shadow: $button-border-glow;
  border-radius: 10px;
  height: 2.5rem;
  width: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.1);
    box-shadow: $button-border-glow-hover;
    &.top {
      transform: translateY(-5px);
    }
    &.bottom {
      transform: translateY(5px);
    }
  }
  &.bottom {
    bottom:2vh;
    left:1vw;
  }
  &.top {
    top:2vh;
    left:1vw;
  }
}

///////////////////////////////////////////////////////////
/// Title styles
.title {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 2rem;
}
/// title section
.title-text {
  font-size: 4rem;
  color: lighten($title-colour, 20%);
  text-shadow: $title-text-glow;
  font-family: $title-font;
  width:fit-content;
  max-width: 70vw;;
}

.title-text-dark {
  font-size: 4rem;
  color: $title-colour-off;
  text-shadow: $title-text-shadow;
  font-family: $title-font;
}
/// Flickering effect
@keyframes flicker {
  0%, 10%, 12%, 14%, 16%, 28%, 30% {
    opacity: 0.1;
  }
  11%, 13%, 29% {
    opacity: 0;
  }
  20%, 22%, 40%, 42%, 60%, 62%, 80%, 82% {
    opacity: 1;
  }
}

.flicker-effect {
  animation: flicker 1.5s linear;
}
/// Subtitle
.subtitle {
  margin-left: 1vw;
  font-size: 1.5rem;
  color: $title-colour-off;
  text-align: left;
  max-width: 70vw;
  & span {
    font-size: 1.2rem;
  }
  &.dark {
    color: $font-colour-dark;
  }
}

///////////////////////////////////////////////////////////
/// Button styles
.btn-primary {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: darkblue;
}

.btn-cancel {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-cancel:hover {
  background-color: darkred;
}

///////////////////////////////////////////////////////////
/// NavBar styles
.navBar {
  cursor: pointer;
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: sticky;
  width: fit-content;
  height: fit-content;
  top: 150px;
  @media screen and (max-width: 768px){
    top: 20px;
  }
}

.nav-link {
  color: $nav-font-colour;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
  position: relative;
  &:hover {
    transform: scale(1.2);
  }
  &.active {
    text-shadow: 0 0 10px $nav-glow-colour;
    animation: pulseActive 1.5s infinite;
    position: relative;
    top: 0;
    z-index: 1;
    transform: translateX(-10px);
    &:hover {
      transform: scale(1.2);
    }
  }
}

@keyframes pulseActive {
  0%, 100% {
    text-shadow: 0 0 10px $nav-glow-colour;
  }
  50% {
    text-shadow: 0 0 20px $title-font-glow-colour;
  }
}

.nav-link-off {
  color: $nav-font-colour-dark;
  font-size: 1.5rem;
  top: 0;
}

///////////////////////////////////////////////////////////
/// Card styles
.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  min-height: 400px;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid $card-border-colour;
  box-shadow: $card-border-glow;
  background-color: $card-background-colour;
  transition: all 0.3s ease-in-out;
  &.off {
    display: none;
  }
  &:hover {
    box-shadow: $card-border-glow-hover;
  }
}

///////////////////////////////////////////////////////////
/// Container styles
.page-container {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  gap: 5%;
  width: calc(100% - 6vw);
}

.card-container {
  width: 70%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.column-container {
  display: flex;
  flex-direction: column;
}