@import 'variables';
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

///////////////////////////////////////////////////////////
// Global styles - Desktop
body {
  font-family: $font-family;
  background-color: $background-colour;
  color: $font-colour;
}

h1 {
  color: $hero-colour;
  font-size: 3rem;
}

///////////////////////////////////////////////////////////
/// Title styles
.title {
  display: flex;
  align-items: start;
  justify-content: space-between;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 2rem;
}
/// Hero section
.hero-text {
  font-size: 4rem;
  color: lighten($hero-colour, 20%);
  text-shadow: $hero-text-shadow;
  font-family: $hero-font;
  width:fit-content;
  max-width: 70vw;;
}

.hero-text-dark {
  font-size: 4rem;
  color: $hero-colour-off;
  text-shadow: $hero-text-shadow-dark;
  font-family: $hero-font;
}
/// Flickering effect
@keyframes flicker {
  0%, 10%, 12%, 14%, 16%, 28%, 30% {
    opacity: 0.1;
  }
  11%, 13%, 29% {
    opacity: 0;
  }
  20%, 22%, 40%, 42%, 60%, 62%, 80%, 82% {
    opacity: 1;
  }
}

.flicker-effect {
  animation: flicker 1.5s linear;
}
/// Subtitle
.subtitle {
  margin-left: 1vw;
  font-size: 1.5rem;
  color: $hero-colour-off;
  text-align: left;
  max-width: 70vw;
  & span {
    font-size: 1.2rem;
  }
  &.dark {
    color: $font-colour-dark;
  }
}

///////////////////////////////////////////////////////////
/// Button styles
.btn-primary {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: darkblue;
}

.btn-cancel {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-cancel:hover {
  background-color: darkred;
}

///////////////////////////////////////////////////////////
/// NavBar styles
.navBar {
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: sticky;
  top: 32vh;
  width: fit-content;
  height: fit-content;
  @media screen and (max-width: 768px){
    top: 20px;
  }
}

.nav-link {
  color: $nav-font-colour;
  font-size: 1.5rem;
}

.nav-link-dark {
  color: $nav-font-colour-dark;
  font-size: 1.5rem;
}

///////////////////////////////////////////////////////////
/// Container styles
.page-container {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  gap: 5%;
  width: calc(100% - 6vw);
}

.card-container {
  width: 70%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.column-container {
  display: flex;
  flex-direction: column;
}